/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
padding-top: 50px;

}
body.hl {
  background: url('/image/accueil-kids.jpg')no-repeat center fixed;
-webkit-background-size: cover;
}

.fontaccueil {
background-color: rgba(255, 255, 255, 0.52);
display: inline-block;

}

.policeGras {
font-size: 50px;
font-weight: bold;
}
/*
 * Global add-ons
 */
.textErreur{
    color: red;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (max-width: 768px){
.corp {
    position: relative;
    margin-top: 90px;
}
  
.bullUser-control {
background-color: rgba(90, 131, 111, 0.8);
border-radius: 1px 1px 4px 4px;
border-top-color: black;
border-top-style: solid;
border: 1px;
cursor: pointer;
display: block;
margin-left: -15px;
margin-top: 19px;
padding: 6px 12px;
position: absolute;
width: 100%;
}
table {
background-color: transparent;
}
}
@media(min-width: 768px){

.bullUser-control {
display: inline-block;
vertical-align: middle;
width: auto;
}

.bulleUser {
z-index: 6;
background: whitesmoke;
border-radius: 4px;
border: 1px solid #ccc;
cursor: pointer;
margin-bottom: 20px;
max-width: 100%;
position: absolute;
width: 196px;
}
}


@media (min-width: 768px) {
   {
}

div#creationDocument {
    margin-top: 1px;
    position: absolute;
    width: 79.2%;
}
  .navbar-fixed-enteteCreation {
    -webkit-transform: translate3d(0,0,0);  -o-transform: translate3d(0,0,0);  transform: translate3d(0,0,0);
    /* margin-top: -95px; */
    /* width: 70%; */
    background-color: rgb(245, 245, 245);
    padding: 10px;  
    border-width: 0 0 1px;
    position: fixed; 
    z-index: 5;  
    position: relative;
    margin: 0px;  -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);  box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
  .sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    padding: 20px;
    position: static;
    top: 51px;
    z-index: 1000;
  
    margin: 0px;  -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);  box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
  .nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px; /* 20px padding + 1px border */
  }
  .droite15{
    margin-right: 15px;
  }
  div#blockQuestion {
  padding-right: 0px;
  padding-left: 0px;
}
  div#popPartager {
  padding-right: 0px;
  padding-left: 0px;
}
}

@media (max-width: 768px) {

 .hideMobile {
display: none;
}

  div#blockQuestion {
  position: relative;
  top: 177px;
  padding-right: 3px;
  padding-left: 3px;
  float: right;
  }
 div#popPartager {
    position: relative;
    top: 177px;
    padding-right: 3px;
padding-left: 3px;
float: right;
}

.droite15 {
left: 0px;
}
   .navbar-fixed-enteteCreation {
    min-width: 377px;
    background-color: rgb(245, 245, 245);  padding: 10px;  
    border-style: groove;
    border-top-color: black;
    border-width: 0 0 1px;
    border-width: 1px 0px 0px 0px;
    margin-top: 140px;  
    position: fixed;
    position: fixed;  right: 0;  left: 0;  
    z-index: 1;  -webkit-transform: translate3d(0,0,0);  -o-transform: translate3d(0,0,0);  transform: translate3d(0,0,0);
    top: 1px;
}
  .navbar-fixed-top25 {
    border-width: 0 0 1px;
    position: fixed;  right: 0;    
    z-index: 0;  -webkit-transform: translate3d(0,0,0);  -o-transform: translate3d(0,0,0);  transform: translate3d(0,0,0);
}
#corp{
    margin-top: 90px;
  
    position: relative;
}
  .sidebar {
    /* overflow-y: auto; */ /* Scrollable contents if viewport is shorter than content. */
    /* padding: 20px; */
    /* position: fixed; */
    /* z-index: 1000; */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    height: 90px;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 50px;
  }
    .nav-sidebar {
  display: inline-flex;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px;
  }
  .nav>li {
  display: table;
  position: relative;
  }

  #titreMenuLatteral { display: none;}
  .droite15{
    margin-right: -15px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #D8E1DF;
  background-color: rgba(136, 173, 155, 1);
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.nomarginright{
  margin-right: 0px;
}

.greybox{
    background-color: rgb(232, 234, 234);
    padding: 10px;
    margin-top: 2%;
    position: relative;  -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);  box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

select#new_part {
-moz-user-select: none;
-ms-user-select: none;
-webkit-user-select: none;
background-image: none;
border-radius: 4px;
border: 1px solid transparent;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
margin-bottom: 0;
padding: 6px 12px;
text-align: center;
user-select: none;
vertical-align: middle;
white-space: nowrap;
}

.top10 {  margin-top: 1%;
}
.alignGauche {
float: left;
}

.colorVert{
  background-color: rgba(136, 173, 155, 1);
  margin: 0px;  -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);  box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

.form-controlSansWidth {
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
/* width: 100%; */
background-color: #fff;
background-image: none;
border-radius: 4px;
border: 1px solid #ccc;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
color: #555;
display: block;
font-size: 14px;
height: 34px;
line-height: 1.42857143;
padding: 6px 12px;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dperso{
padding: 0px 3px;
}

.clickable{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.clickable{
  cursor: pointer;

}


@media (min-width: 768px) {
    .form-inline .radio input[type="radio"], 
    .form-inline .checkbox input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }
}

.labelTitre { 
background-color: rgb(245, 245, 245);
border:transparent;
font-weight:bold;
color: #555;
display: inline;
font-size: 15px;
height: 34px;
line-height: 1.42857143;
padding: 6px 12px;
width: 90%;   
}
.labelEnonce { /* idem formControl sauf background-color et border supprimés*/
background-color: rgb(232, 234, 234);
border:transparent;
font-weight:bold;
color: #555;
display: inline;
font-size: 14px;
height: 34px;
line-height: 1.42857143;
padding: 6px 12px;
width: 90%;  
}

.labelReponse{ /* idem formControl sauf background-color et border supprimés*/
background-color: rgb(232, 234, 234);
border:transparent;
color: #555;
display: inline;
font-size: 14px;
height: 34px;
line-height: 1.42857143;
padding: 6px 12px;
width: 90%;
}

.saisie {
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
background-color: #fff;
background-image: none;
border-radius: 4px;
border: 1px solid #ccc;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.glyphiconDoc{
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
color: rgba(90, 131, 111, 0.8);
cursor: pointer;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-size: 20px;
font-style: normal;
font-weight: 400;
left: 5px;
line-height: 1.9;
min-width: 5%;
position: relative;
top: 4px;
}
.glyphiconQuestion{
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
color: rgba(90, 131, 111, 0.8);
cursor: pointer;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-size: 15px;
font-style: normal;
font-weight: 400;
left: 5px;
line-height: 1.9;
min-width: 5%;
position: relative;
top: 4px;
}

.glyphiconReponse {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
color: rgba(187, 187, 187, 0.8);
cursor: pointer;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-size: 15px;
font-style: normal;
font-weight: 200;
left: 5px;
line-height: 1;
min-width: 5%;
position: relative;
top: 3px;
}

#iconsupprimerDoc {
    position: relative;  top: 6px;  display: inline-block;  font-family: 'Glyphicons Halflings';  font-style: normal;  font-weight: 400;  line-height: 1;  -webkit-font-smoothing: antialiased;
}

#iconsupprimerDoc:hover {
    color: red;
}

.glyphiconVert {
color: #66FF66;
}

.glyphiconRouge {
color: #FF5050;
}

.cbQCM {
top: 6px;
}

.checkbox.reponseCheckbox {
    right: -1.5%;
}



.form-controlEnonceCheckbox {
    display: inline; 
    width: 93.5%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@media (max-width: 992px){
div#creationDocument {

position: absolute;
}
}

div#sidebar {
    z-index: 2;
}



.pop {
display: none;
position: absolute;
z-index: 99999;
background: #EEEFEB;
min-width: 100px;
color: #000000;
margin: 0px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

.linePop:hover {
background-color: white;
cursor: pointer;
text-align: center;
font-weight: bold;
}
.linePop {
width: 100%;
background-color: whitesmoke;
padding: 0.5%;
text-align: center;
}