   /****************************************************************************************/
    /****************************************************************************************/
    /*STYLE GLOBAL */
    /****************************************************************************************/
    /****************************************************************************************/



ul#formlabelRechercheNewUserToGroup {
    background-color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li#OptionAddUserToGroup {
    cursor: pointer;
}

li#OptionAddUserToGroup:hover {
    background-color: rgb(91, 164, 218);
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    margin-left: -8px;
    margin-right: 2px;

}

ul.BAR li a {
    color: white;
    text-decoration: none;
}

/*Surclasse bootstrap*/

/*Color navbar*/
.navbar-inverse .navbar-nav>li>a {
  color: #F0F0F0;
}

.navbar-inverse .navbar-brand {
  color: #F0F0F0;
}
    
    /****************************************************************************************/
    /****************************************************************************************/
    /*VUE PC */
    /****************************************************************************************/
    /****************************************************************************************/

@media (min-width: 768px){

    ul.BAR {
        list-style-type: none;
        /* overflow-x: scroll; */
        height: auto;
        margin-bottom: 0px;
        overflow-y: hidden;
        padding-left: 0px;
    }

    ul.BAR li {
        float: left;
        padding: 20px;
    
        width: 100%;
        background-color: #65C6BB;
        margin-bottom: 2px;
        text-decoration: none;
        font-weight: bold;
    
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
}
    
    ul.BAR li:hover {
        background-color: #1BA39C;
        cursor: pointer;
        text-decoration: none;
    }

    ul.BAR li.active {
        background-color: #1BA39C;
    }
}

    /****************************************************************************************/
    /****************************************************************************************/
    /*VUE MOBILE */
    /****************************************************************************************/
    /****************************************************************************************/

@media (max-width: 768px){

    ul.BAR {
        list-style-type: none;
        max-height: 61px;
        margin-bottom: 0px;
        overflow-y: hidden;
        padding-left: 0px;
        overflow-x: hidden;
     /* at least the size of the header */      
        display: table-row;
        width:auto; /* size the block automatically */;
}

    ul.BAR li {
            padding: 20px;        background-color: #bdc3c7;    margin-bottom: 2px;    text-decoration: none;    font-weight: bold;    
        height: 61px;
        border-bottom: 1px solid #e5e5e5;    border-right: 1px solid #e5e5e5;  
        white-space: nowrap;
        display: table-cell;
};
}
    ul.BAR li.active {
        background-color: #1BA39C;
    }

    #corp {
      position: relative;
        margin-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
    }
}